################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PracticeApp1/v15
/.vs/ProjectSettings.json
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
